export(ShennongData)
export(sn_assay)
export(sn_capabilities)
export(sn_connect)
export(sn_connection)
export(sn_disconnect)
export(sn_ping)
export(sn_load_data)
export(sn_obs)
export(sn_resource)
export(sn_schema)
export(sn_set_connection)
export(sn_server_version)
export(sn_var)
export(sn_server_url)
